.main {
  display: block;
  margin-top: 60px;
  position: relative;
  background-color: #badde4;
  font-family: "Montserrat", Cerebri Sans, Helvetica, Arial, sans-serif;
}

#nameofCity {
  width: 300px;
  text-align: center;
  border-radius: 20px;
  line-height: 40px;
  background-color: #badde4;
  position: relative;
  float: center;
  font: bold;
  box-shadow: none;
  border: 1mm ridge rgba(0, 0, 0, 0.1);
}

.search {
  border: none;
  background-color: #badde4;
  width: 32px;
  height: 32px;
  border-radius: 5px;
}

#alert {
  background-color: red;
  color: rgb(206, 203, 203);
  width: 300px;
  text-align: center;
  border-radius: 20px;
  line-height: 40px;
  position: relative;
  float: right;
  box-shadow: none;
  border: 1mm ridge rgba(0, 0, 0, 0.1);
}

.a#C_Link,
a#F_Link {
  position: relative;
  float: right;
}

.tempUnit .not_active {
  cursor: default;
  color: black;
  text-decoration: none;
}

.tempUnit .not_active:hover {
  text-decoration: none;
}
.selectedCity {
  padding-top: 10px;
  text-align: center;
}

h1 {
  color: black;
  font: bolder;
}

h2 {
  color: rgb(119, 119, 9);
  font: bolder;
}

.last {
  padding-right: 50px;
}

.dayIcon {
  padding-top: 15px;
  padding-left: 5px;
}

.nxtDaysPred {
  display: block;
  text-align: center;
  font-weight: bolder;
  line-height: 20px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.pic {
  display: block;
  margin-top: 20px;
  width: 20px;
  height: 20px;
  border: solid 2px red;
}

.details {
  margin-top: 20px;
  padding-bottom: 10px;
  background-color: #ececec;
  font-size: bolder;
}

.prediction {
  background-color: #eaf6f6;
}

.legend {
  padding-top: 65px;
  padding-left: 0px;
  margin-left: 10px;
  text-align: right;
  font-size: 15px;
  font: bolder;
}

.footer {
  display: block;
  margin: 10px auto;
  text-align: center;
  size: bold;
  font-size: 10px;
  font-family: "Montserrat", Arial, sans-serif;
}
